/* styles.css */

/* Define styles for the entire application */
.root {
    -fx-background-color: linear-gradient(to top right, #FFFFFF, #000000); /* Set a gradient background for the entire application */
}

/* Define styles for specific components */
.styled-button {
    -fx-background-color: #FFFFFF; /* Set the dynamic background color for buttons */
    -fx-text-fill: #000000; /* Set the dynamic text color for buttons */
    -fx-font-size: 14px;
    -fx-font-family: 'Calibri';
    -fx-border-color: #000000;
    -fx-border-width: 2px;
}

.styled-combo-box {
    -fx-background-color: #FFFFFF; /* Set the dynamic background color for combo boxes */
    -fx-text-fill: #000000; /* Set the dynamic text color for combo boxes */
}

.styled-label {
    -fx-text-fill: #FFFFFF; /* Set the dynamic text color for labels */
}

.styled-color-picker {
    -fx-background-color: #FFFFFF; /* Set the dynamic background color for color pickers */
}

.styled-slider {
    -fx-background-color: #FFFFFF; /* Set the dynamic background color for sliders */
    -fx-accent: #000000; /* Set the dynamic accent color for sliders */
}
