/* styles.css */

/* Define styles for the entire application */
.root {
    -fx-background-color: linear-gradient(to top right, ${primaryColor}, ${secondaryColor}); /* Set a gradient background for the entire application */
}

/* Define styles for specific components */
.styled-button {
    -fx-background-color: ${primaryColor};
    -fx-text-fill: ${secondaryColor};
    -fx-font-size: ${textsize}px;
    -fx-font-family: '${textFont}';
    -fx-border-color: ${secondaryColor};
    -fx-border-width: 2px;
}

.styled-combo-box {
    -fx-background-color: ${primaryColor};
    -fx-text-fill: ${secondaryColor};
}

.styled-label {
    -fx-text-fill: ${primaryColor}; /* Set the dynamic text color for labels */
}

.styled-color-picker {
    -fx-background-color: ${primaryColor}; /* Set the dynamic background color for color pickers */
}

.styled-slider {
    -fx-background-color: ${backgroundColor}; /* Set the dynamic background color for sliders */
    -fx-accent: ${accentColor}; /* Set the dynamic accent color for sliders */
}
